---
import Main from '../../layouts/Main.astro';
---

<Main title="About — Jeff Caldwell">
  <section class="h-card">
    <h2 class="page-heading p-name" id="about"><span class="p-given-name">Jeff</span> <span
        class="p-family-name">Caldwell</span></h2>
  </section>
</Main>