---
import Main from '$layouts/Main.astro';
---

<Main title="404!">
  <section id="content" class="flow flex flex-column flex-center">
    <h2 class="page-heading">404</h2>
    <p>Looks like that doesn't exist!</p>
    <a href="/">Go Home!</a>
  </section>
</Main>