---
import Main from '../layouts/Main.astro';
import PostListItem from '../components/PostListItem.astro';
import PostFeature from '../components/PostFeature.astro';
import Intro from '../components/Intro.astro';
let posts = await Astro.glob('./writing/*/*.md');

const sorted = posts.sort((a, b) => new Date(b.frontmatter.updated).valueOf() - new Date(a.frontmatter.updated).valueOf());
---

<Main title="Jeff Caldwell — Web Developer">
  <Intro />
  <div class="page-grid">
    <section class="content-list flow">
      <h2 class="page-heading" id="latest">
        Latest Writing
      </h2>
      <div class="post-list flow">
        {sorted.slice(0, 4).map((post) => (
        <PostFeature {post} />))}
      </div>
    </section>
  </div>
</Main>