---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
  <header>
    <div class="header-inner">
      <span class="logo"></span>
      <h1>
        <a href="/"> Jeff Caldwell</a>
      </h1>
    </div>
  </header>
  <main>
    <aside class="sidebar">
      <nav id="main-nav" aria-label="Main">
        <!-- <nav id="main-nav" aria-labelledby="main-nav-label"> -->
        <ol class="main-nav-list">
          <!-- <label class="menu-label" id="main-nav-label"> Main Menu</label> -->
          <li class="nav-menu-list">
            <a href="#"> 00-09 Information</a>
            <ol class="nav-menu" aria-describedby="meta-nav-label" data-start="00">
              <li class="nav-menu-item"><a href="#">Professional</a></li>
              <li class="nav-sub">
                <ol class="nav-sub-menu">
                  <li class="nav-sub-menu-item"><a href="#">Resume</a></li>
                  <li class="nav-sub-menu-item"><a href="#">LinkedIn</a></li>
                </ol>
              </li>
              <li class="nav-menu-item"><a href="#">Personal</a></li>
              <li class="nav-sub">
                <ol class="nav-sub-menu">
                  <li class="nav-sub-menu-item"><a href="#">About Jeff</a></li>
                  <li class="nav-sub-menu-item"><a href="#">Mastodon</a></li>
                </ol>
              </li>
              <li class="nav-menu-item"><a href="#">Misc</a></li>
              <li class="nav-sub">
                <ol class="nav-sub-menu">
                  <li class="nav-sub-menu-item"><a href="#">Why the numbers?</a></li>
                </ol>
              </li>
            </ol>
          </li>
          <li class="nav-menu-list">
            <a href="#"> 10-19 Writing</a>
            <ol class="nav-menu" aria-describedby="writing-nav-label" data-start="10">
              <li class="nav-menu-item"><a href="#">Technical Writing</a></li>
              <li class="nav-sub">
                <ol class="nav-sub-menu">
                  <li class="nav-sub-menu-item"><a href="#">Proposals</a></li>
                  <li class="nav-sub-menu-item"><a href="#">Research</a></li>
                  <li class="nav-sub-menu-item"><a href="#">Documentation</a></li>
                </ol>
              </li>
              <li class="nav-menu-item"><a href="#">Personal Writing</a></li>
              <li class="nav-sub">
                <ol class="nav-sub-menu">
                  <li class="nav-sub-menu-item"><a href="#">Blog</a></li>
                  <li class="nav-sub-menu-item"><a href="#">Fun</a></li>
                </ol>
              </li>
            </ol>
          </li>
          <li class="nav-menu-list">
            <a href="#">20-29 Software & Web Dev</a>
            <ol class="nav-menu" aria-describedby="dev-nav-label" data-start="20">
              <li class="nav-menu-item"><a href="#">Projects</a></li>
              <li class="nav-menu-item"><a href="#">Sites</a></li>
            </ol>
          </li>
        </ol>
      </nav>
    </aside>
    <section class="content">
      <p>This is some content</p>
    </section>
  </main>
</Layout>

<style>
  header {
    border-bottom: 1px solid var(--color-body);
    margin-botom: var(--size-6);
  }

  .logo {
    width: var(--size-6);
    height: var(--size-6);
    background-color: var(--orange-4);
  }

  header h1 {
    font-size: var(--size-4);
    font-family: var(--font-mono);
    line-height: 1;
  }

  header h1 a {
    text-decoration: none;
  }

  .sidebar {
    font-family: var(--font-mono);
  }

  #main-nav {
    position: relative;
    margin-block: var(--size-4);
    padding: 0;
    /* border: 1px solid var(--color-body); */
    border-inline-end: 2px solid var(--blue-9);
    /* border-inline-start: none;
    border-block-start: none; */
  }

  .menu-label {
    position: absolute;
    display: inline-block;
    padding-inline: var(--size-2);
    background-color: var(--color-background);
    border: 1px solid var(--color-body);
    top: -0.75rem;
  }

  ol {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding-inline: 0;
  }

  ol li {
    margin: 0;
  }

  ol li a {
    display: block;
    width: 100%;
  }

  .main-nav-list {
    margin-block-start: var(--size-2);
    /* margin-block-end: var(--size-3); */
  }

  .main-nav-list > li > a {
    display: block;
  }

  /* .main-nav-list > * + * {
    margin-block-start: var(--size-2);
  } */

  .nav-sub {
    padding: 0;
  }

  /**
  * Top-level nav lists
  */
  .nav-menu {
    border-top: none;
    position: relative;
    /* padding-block-start: var(--size-2); */
    display: flex;
  }

  .nav-menu[data-start='00'] {
    counter-reset: nav-menu-counter -1;
  }

  .nav-menu[data-start='10'] {
    counter-reset: nav-menu-counter 9;
  }

  .nav-menu[data-start='20'] {
    counter-reset: nav-menu-counter 19;
  }

  li a {
    padding-block-start: var(--size-1);
  }

  .nav-menu-list > a {
    font-weight: 500;
    padding-inline-start: var(--size-1);
  }

  /**
  * Nested nav menus
  */
  .nav-sub-menu {
    counter-reset: nav-sub-menu-counter;
    padding-inline: none;
  }

  .nav-sub .nav-sub-menu .nav-sub-menu-item {
    padding-inline-start: 3.75rem;
    display: flex;
    align-items: baseline;
    gap: var(--size-6);
  }

  .nav-sub-menu-item a {
    text-decoration: none;
  }

  /**
  * List item that holds nested ol
  */
  .nav-sub {
    list-style-type: none;
  }

  /**
  * li elements within nav-menu elements
  */
  .nav-menu-item {
    display: flex;
    align-items: baseline;
    counter-increment: nav-menu-counter;
    padding-inline-start: var(--size-7);
  }

  .nav-menu .nav-menu-item::before {
    content: counter(nav-menu-counter);
    margin-inline-end: 0.5rem;
    width: 1rem;
  }

  .nav-menu[data-start='00'] .nav-menu-item::before {
    content: '0' counter(nav-menu-counter);
  }

  /**
  * li elements within nav-sub-menu elements
  */
  .nav-sub-menu-item {
    counter-increment: nav-sub-menu-counter;
  }

  .nav-sub-menu .nav-sub-menu-item::before {
    content: counter(nav-menu-counter) '.' counter(nav-sub-menu-counter);
    width: 1rem;
    margin-inline-end: 0.5rem;
  }

  .nav-menu[data-start='00'] .nav-sub .nav-sub-menu .nav-sub-menu-item::before {
    content: '0' counter(nav-menu-counter) '.0' counter(nav-sub-menu-counter);
  }

  .nav-menu[data-start='10'] .nav-sub .nav-sub-menu .nav-sub-menu-item::before,
  .nav-menu[data-start='10'] .nav-sub .nav-sub-menu .nav-sub-menu-item::before,
  .nav-menu[data-start='20'] .nav-sub .nav-sub-menu .nav-sub-menu-item::before {
    content: counter(nav-menu-counter) '.0' counter(nav-sub-menu-counter);
  }

  .nav-menu-item:hover,
  .nav-menu-item:hover a,
  .nav-sub-menu-item:hover,
  .nav-sub-menu-item:hover a {
    background: var(--color-body);
    color: var(--color-background);
  }

  .nav-menu-item:focus-visible,
  .nav-menu-item:focus-visible a,
  .nav-menu-item:focus-within,
  .nav-menu-item:focus-within a,
  .nav-sub-menu-item:focus-visible,
  .nav-sub-menu-item:focus-visible a,
  .nav-sub-menu-item:focus-within,
  .nav-sub-menu-item:focus-within a {
    background: var(--color-body);
    color: var(--color-background);
  }
  .nav-menu-item a,
  .nav-sub-menu-item a {
    outline-offset: unset;
  }
</style>
