---
import { getCollection } from 'astro:content';
import Base from '../layouts/Base.astro';
import PostPreview from '../components/PostPreview.astro';

const allPosts = await getCollection('blog');
const prod = import.meta.env.PROD;
// Sort allPosts and grab the first 5
const sorted = allPosts
  .filter((post) => (prod ? !post.data.draft : post.data.draft || !post.data.draft))
  .sort((a, b) => {
    return new Date(b.data.published).valueOf() - new Date(a.data.published).valueOf();
  })
  .slice(0, 5);
---

<Base title="Jeff Caldwell">
  <section class="post-list content-container">
    <h2>Latest Posts</h2>
    {sorted.map((entry) => <PostPreview {entry} headingLevel={3} />)}
  </section>
</Base>
