---
import Main from '../layouts/Main.astro';
import PostListItem from '../components/PostListItem.astro';
const posts = await Astro.glob('./writing/*/*.md');
---
<Main title="trainingmontage">
{posts.map((post) => (
  <PostListItem {post} />
))}
</Main>