---
import { getCollection } from 'astro:content';
import Base from '../layouts/Base.astro';
import PostPreview from '../components/PostPreview.astro';

const allPosts = await getCollection('blog');
const sorted = allPosts.sort((a, b) => {
  return new Date(b.data.published).valueOf() - new Date(a.data.published).valueOf();
});
---

<Base title="Jeff Caldwell">
  <main>
    <section class="post-list content-container">
      {sorted.map((entry) => <PostPreview {entry} />)}
    </section>
  </main>
</Base>
