---
import Main from '../layouts/Main.astro';
import PostListItem from '../components/PostListItem.astro';
import PostFeature from '../components/PostFeature.astro';
import Intro from '../components/Intro.astro';

let posts = await Astro.glob('./writing/*/*.md');
let notes = await Astro.glob('./notes/*/*.md');

const sorted = posts.filter((post) => post.frontmatter.draft === false).sort((a, b) => new Date(b.frontmatter.updated).valueOf() - new Date(a.frontmatter.updated).valueOf());
const sortedNotes = notes.filter((note) => note.frontmatter.draft === false).sort((a, b) => new Date(b.frontmatter.updated).valueOf() - new Date(a.frontmatter.updated).valueOf());
---

<Main title="Jeff Caldwell — Web Developer">
  <Intro />

  <div class="page-grid" id="content">
    {sorted.length > 0 ?
    <section class="content-list flow">
      <h2 class="page-heading" id="writing">
        Writing
      </h2>
      <div class="post-list flow">
        {sorted.slice(0, 2).map((post) => (
        <PostFeature {post} />))}
        <a href="/writing" class="list-link">More writing</a>
      </div>
    </section>
    : null}

    {sortedNotes.length > 0 ?
    <section class="content-list flow">
      <h2 class="page-heading" id="notes">
        Notes
      </h2>
      <div class="post-list flow">
        {sortedNotes.slice(0, 4).map((post) => (
        <PostListItem {post} />))}
        <a href="/notes" class="list-link">More Notes</a>
      </div>
    </section>
    : null}
  </div>
</Main>