---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
  <header>
    <div class="header-inner">
      <span class="logo"></span>
      <h1>
        <a href="/"> Jeff Caldwell</a>
      </h1>
    </div>
  </header>
  <main>
    <aside class="sidebar">
      <span class="menu-label" id="main-nav-label">Main Menu</span>
      <nav>
        <ul>
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </nav>
    </aside>
    <section class="content">
      <p>This is some content</p>
    </section>
  </main>
</Layout>

<style>
  header {
    border-bottom: 1px solid var(--color-body);
    margin-botom: var(--size-6);
  }

  .logo {
    width: var(--size-6);
    height: var(--size-6);
    background-color: var(--red-3);
  }

  header h1 {
    font-size: var(--size-4);
    font-family: var(--font-mono);
    line-height: 1;
  }

  header h1 a {
    text-decoration: none;
  }

  .sidebar,
  .content {
    position: relative;
    border: 1px solid var(--color-body);
  }

  .sidebar {
    font-family: var(--font-mono);
  }

  .sidebar::before,
  .sidebar::after,
  .content::before,
  .content::after {
    content: '';
    position: absolute;
    display: block;
    top: var(--size-2);
    bottom: var(--size-2);
    width: 1rem;
    background-color: var(--color-background);
    z-index: 100;
  }

  .sidebar::before,
  .content::before {
    left: calc(0.5rem * -1);
  }

  .sidebar::after,
  .content::after {
    right: calc(0.5rem * -1);
  }

  .sidebar nav,
  .content {
    padding: 1rem;
  }

  .sidebar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
  }

  .sidebar nav ul li a {
    display: block;
  }

  .menu-label {
    display: inline-block;
    padding-inline: var(--size-2);
    margin-inline: var(--size-2);
    position: absolute;
    top: -0.75rem;
    background-color: var(--color-background);
  }
</style>
