
:root {
  font-family: 'Atkinson Hyperlegible', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;

  --font-size--300: clamp(0.76rem, calc(0.76rem + 0.02vw), 0.77rem);
  --font-size--200: clamp(0.91rem, calc(0.89rem + 0.10vw), 0.96rem);
  --font-size--100: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.20rem);
  --font-size-000: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
  --font-size-100: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --font-size-200: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --font-size-300: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --font-size-400: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --font-size-500: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
  --font-size-600: clamp(3.92rem, calc(3.22rem + 3.52vw), 5.72rem);
  --font-size-700: clamp(4.70rem, calc(3.75rem + 4.78vw), 7.15rem);

  --space-3xs: clamp(0.31rem, calc(0.29rem + 0.12vw), 0.38rem);
  --space-2xs: clamp(0.69rem, calc(0.66rem + 0.12vw), 0.75rem);
  --space-xs: clamp(1.00rem, calc(0.95rem + 0.24vw), 1.13rem);
  --space-s: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
  --space-m: clamp(2.00rem, calc(1.90rem + 0.49vw), 2.25rem);
  --space-l: clamp(2.63rem, calc(2.48rem + 0.73vw), 3.00rem);
  --space-xl: clamp(3.94rem, calc(3.72rem + 1.10vw), 4.50rem);
  --space-2xl: clamp(5.25rem, calc(4.96rem + 1.46vw), 6.00rem);
  --space-3xl: clamp(7.88rem, calc(7.44rem + 2.20vw), 9.00rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.14rem + 0.85vw), 0.75rem);
  --space-2xs-xs: clamp(0.69rem, calc(0.52rem + 0.85vw), 1.13rem);
  --space-xs-s: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
  --space-s-m: clamp(1.31rem, calc(0.95rem + 1.83vw), 2.25rem);
  --space-m-l: clamp(2.00rem, calc(1.61rem + 1.95vw), 3.00rem);
  --space-l-xl: clamp(2.63rem, calc(1.89rem + 3.66vw), 4.50rem);
  --space-xl-2xl: clamp(3.94rem, calc(3.13rem + 4.02vw), 6.00rem);
  --space-2xl-3xl: clamp(5.25rem, calc(3.79rem + 7.32vw), 9.00rem);

  /* Custom pairs */
  --space-s-l: clamp(1.31rem, calc(0.65rem + 3.29vw), 3.00rem);

  --flow-space: var(--space-s-m);

  --light: #f0eff4;
  --dark: #0E131F;
  --red: #C7083E;
  --yellow: #F0F600;

  --foreground: var(--dark);
  --background: var(--light);
  --accent: var(--red);
  --highlight: var(--yellow);

  --transition-default: 0.15s ease-out;
  /* --shadow-default: 20px 20px 30px 0px rgba(0, 0, 0, 0.2), 5px 5px 10px 0px rgba(0, 0, 0, 0.2); */
  --shadow-default: 0 2px 2px rgba(0,0,0,0.12), 
                    0 4px 4px rgba(0,0,0,0.12), 
                    0 8px 8px rgba(0,0,0,0.12), 
                    0 16px 16px rgba(0,0,0,0.12),
                    0 24px 24px rgba(0,0,0,0.12);

  --shadow-hover:   0 0px 0px rgba(0,0,0,0.24), 
                    0 1px 1px rgba(0,0,0,0.24), 
                    0 2px 2px rgba(0,0,0,0.24), 
                    0 4px 4px rgba(0,0,0,0.24),
                    0 8px 8px rgba(0,0,0,0.24);
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-000);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--space-s-m);
  width: 100vw;
  height: 100vh;
  color: var(--foreground);
  background-color: var(--background);
}

main,
footer {
  padding: var(--space-xs);
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--space-s-m);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: 'rebrand_txtsemibold';
}

p {
  font-size: var(--font-size-000);
  line-height: 1.5;
}

ol,
ul {
  margin-inline-start: 1em;
}

dt {
  font-weight: bold;
  text-decoration: underline;
}

dd {
  padding-inline-start: 1em;
}

:focus {
  outline: 2px solid transparent;
  outline-offset: -2px;
}

a {
  color: currentColor;
  transition: color var(--transition-default), outline var(--transition-default);
}

a:not([class]) {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: var(--accent);
}

a:focus {
  background-color: var(--highlight);
}

pre, code {
  padding: 1rem;
  font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

code:not(pre code) {
  display: inline-block;
  background-color: var(--highlight);
  padding: 0 0.25em;
  /* outline: 1px dotted var(--foreground); */
}

.flow > * + * {
  margin-top: var(--flow-space);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.shadow {
  box-shadow: var(--shadow-default);
  transition: box-shadow var(--transition-default);
}

.shadow:hover {
  box-shadow: var(--shadow-hover);
}

.border-radius {
  border-radius: 1rem;
}

.highlight-link article {
  padding: 1rem;
}

.toc-section {
  border: 2px solid var(--foreground);
  padding: 1rem;
  --flow-space: 1rem;
}

.toc {
  margin-inline: 0;
}

.toc, .toc-level {
  list-style-type: none;
}

#site-brand {
  font-family: 'rebrand_txtsemibold';
  transition: background-color var(--transition-default);
  text-decoration: none;
  letter-spacing: 0.025em;
  transition: background-color var(--transition-default);
}

#site-brand h1 {
  font-size: var(--font-size-200);
  padding: 1rem;
}

#site-brand:focus h1,
#site-brand:hover h1 {
  color: var(--foreground);
  background-color: var(--highlight);
}

.page-heading {
  font-size: var(--font-size-200);
  font-family: 'rebrand_dissemibold';
  transition: background-color var(--transition-default);
  max-width: 25ch;
  line-height: 1.25em;
  position: relative;
  padding-bottom: 0.125em;
  /* border-bottom: var(--space-3xs-2xs) solid var(--foreground); */
}

.page-heading::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  border-bottom: var(--space-3xs-2xs) solid var(--foreground);
  width: 100%;
}

.site-nav {
  display: flex;
  border-bottom: 2px solid var(--foreground);
  border-top: 2px solid var(--foreground);
}

.nav-list{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-nav ol li {
  flex-grow: 1;
  margin: 0;
  padding: 0.5rem 0;
  transition: background-color var(--transition-default);
  pointer-events: none;
}

.site-nav ol li:focus-within {
  background-color: var(--highlight);
}

.site-nav ol li a {
  display: block;
  font-weight: 600;
  text-decoration: none;
  transition: background-color var(--transition-default);
  letter-spacing: 0.125em;
  pointer-events: auto;
  font-size: var(--font-size--100);
}

.site-nav ol li:hover {
  background: var(--highlight);
}

.site-nav ol li:hover a {
  color: var(--foreground);
}

.site-nav ol a:focus {
  background: transparent;
  color: var(--foreground);
  outline-offset: -2px;
}

#skip-link {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.5rem;
  transition: transform var(--transition-default), opacity var(--transition-default);
  transform: translateY(-100%);
  font-weight: 600;
  letter-spacing: 0.125em;
  border: 2px solid var(--foreground);
  border-top: none;
  opacity: 0;
  background-color: var(--highlight);
  outline: 2px solid var(--highlight);
  outline-offset: -0.25rem;
  border-top: none;
}

#skip-link:focus {
  transform: translateY(0%);
  opacity: 1;
}

.post-grid,
.page-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
  gap: var(--space-l-xl);
}

.post-item-photo, 
.feature-post-photo {
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.page-image {
  max-inline-size: 100%;
  block-size: auto;
  max-width: 300px;
  align-self: center;
}

.content-list, .post-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-s-m);
}

.feature-post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  border: 2px solid var(--foreground);
  transition: border-color var(--default-transition);
}

.feature-post:hover {
  border-color: var(--accent);
}

.feature-post-date {
  display: block;
  text-align: center;
  font-size: var(--font-size-100);
}

.post-item {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs-s);
  padding: var(--space-xs-s);
  align-items: baseline;
  justify-content: space-between;
  border: 2px solid var(--foreground);
  transition: border-color var(--transition-default);
}

.post-item:hover {
  border-color: var(--accent);
}

.post-item-col {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.post-item-heading {
  font-size: var(--font-size-200);
  /* font-family: 'rebrand_txtbold'; */
  font-weight: bold;
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-s-m);
}

.backlink-list {
  margin-left: 1rem;
}

table {
  border: 1px solid var(--foreground);
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--foreground);
  padding: var(--space-3xs);
  text-align: center;
}

@media screen and (min-width: 700px) {
  body {
    justify-content: stretch;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1rem;
    gap: 0;
    text-align: unset;
  }

  main,
  footer {
    padding: 1.5rem;
  }

  header {
    margin-inline: 1.5rem;
  }

  .site-nav ol li {
    display: flex;
    align-items: center;
    padding-inline: 1rem;
  }

  #site-brand {
    flex-grow: 1;
    /* border-bottom: 2px solid var(--foreground); */
  }

  .page-heading {
    font-size: var(--font-size-400);
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding-inline: 5%;
  }

  .page-heading {
    font-size: var(--font-size-600);
  }

  .feature-post-description {
    font-size: var(--font-size-200);
  }
}

@media screen and (min-width: 1280px) {
  body {
    padding-inline: 20%;
  }
}

/* @media screen and (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--light);
    --background: var(--dark);
    --highlight: var(--red);
    --accent: var(--yellow);
  }

  .page-heading,
  .feature-post-heading {
    border-bottom: var(--space-3xs-2xs) solid var(--foreground);
  }
} */