---

---
   <a href="/#content" id="skip-link" class="focus-only">Skip to Main Content</a>
   <header>
         <a id="site-brand" href="/" aria-label="TrainingMontage">
            <h1>
               Jeff Caldwell
            </h1>
         </a>

         <nav>
            <ol>
               <li><a class="nav-link" href="/">Home</a></li>
               <li><a class="nav-link" href="/writing">Writing</a></li>
               <li><a class="nav-link" href="/garden">Garden</a></li>
               <li><a class="nav-link" href="/about">About</a></li>
            </ol>
         </nav>
   </header>