---

---

<header>
   <a href="#content" id="skip-link" class="focus-only">Skip to Main Content</a>
   <a id="site-brand" class="h-card" rel="me" href="https://jeffcaldwell.is/" aria-label="Jeff Caldwell">
      <h1>
         Jeff Caldwell
      </h1>
   </a>

   <nav class="site-nav">
      <ol class="nav-list">
         <li><a class="nav-link" href="/">Home</a></li>
         <li><a class="nav-link" href="/writing">Writing</a></li>
         <li><a class="nav-link" href="/notes">Notes</a></li>
         <!-- <li><a class="nav-link" href="/about">About</a></li> -->
      </ol>
   </nav>
</header>