---

---

<div class="intro flow">
  <p>
    I'm Jeff Caldwell, a computer science student, web developer, and small-city journalist who makes websites.
    Sometimes I draw
    pictures.
  </p>

  <p>
    This is my personal place on the web. It's where I <a href="">learn in public</a>.
  </p>

  <p><a href="/writing">Writing</a> is where I publish my thoughts on, well, whatever I'm thinking about. Some of the
    posts are complete, fully-fledged blog posts while some are notes at varying stages of completeness. Think of it as
    a <a href="">digital garden</a> with longer-form pieces sprinkled in.</p>
</div>

<style>
  p {
    max-width: 65ch;
  }
</style>