---

---

<div class="intro flow">
  <p class="preamble">
    I'm Jeff Caldwell, a computer science student, web developer, and small-city journalist who makes websites.
    Sometimes I draw
    pictures.
  </p>

  <p>
    This is my personal place on the web. It's where I <a href="https://www.swyx.io/learn-in-public">learn in
      public</a>.
  </p>

  <p><a href="/notes">Notes</a> are where I post quick writing and stray thoughts. It's my <a
      href="https://maggieappleton.com/garden-history">digital garden</a>
    and whatever you read in there should <em>probably</em> be considered incomplete. <a href="/writing">Writing</a> is
    where longer-form, more complete articles are posted.
  </p>
  <p>
    You can find me elsewhere on the web at <a href="https://twitter.com/trainingm0ntage" rel="me">Twitter</a>, <a
      href="https://indieweb.social/web/@trainingmontage" rel="me">Mastodon</a>, and <a
      href="https://github.com/nemo-omen" rel="me">GitHub</a>.
  </p>
</div>

<style>
  p {
    max-width: 65ch;
  }
</style>