---

---
  <div class="intro flow">
  <p>
    I'm Jeff Caldwell, a computer science student, web developer, and small-city journalist who makes websites. I draw pictures sometimes, too.
  </p>

  <p>
    This is my personal space on the web.
  </p>

  <p>
    <a href="/garden">The Garden</a> is where I <a href="https://www.swyx.io/learn-in-public/">learn in public</a>. It's where I write about what I'm learning while I'm learning it, (content there shouldn't be considered complete or authoratative).
  </p>
  <p>
    Deeper dives and long-form pieces can be found over in <a href="/writing">Writing</a>.
  </p>
  </div>

  <style>
    p {
      max-width: 65ch;
      font-size: var(--font-size-200);
    }
  </style>