---

---

<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js" is:inline></script>

<div class="mermaid">
  <slot />
</div>


<script is:inline>
  mermaid.initialize({ startOnLoad: true });
</script>