---
const { note } = Astro.props;
console.log(note);

---

<!-- <a href={`${note.url ?? '' }`} class="heading-link post-item-col">
  <span class="p-name post-item-heading">{note.frontmatter.title}</span>
  <time class="dt-published post-item-date">{new Date(note.frontmatter.date).toLocaleDateString('en-US', {month: 'long',
    day: 'numeric', weekday: 'long', year: 'numeric'})}</time>
</a> -->