---
const { post } = Astro.props;

---

<a href={`${post.url ?? '' }`} class="card-link">
  <article class="post-item">

    <h3 class="p-name post-item-heading">
      {post.frontmatter.title}
    </h3>
    <span class="updated">
      Updated:
      <time class="dt-published">{new Date(post.frontmatter.updated).toLocaleDateString('en-US', {month:
        'long',
        day: 'numeric', weekday: 'long', year: 'numeric'})}</time>
    </span>
  </article>
</a>