---
const { post } = Astro.props;

---

<article class="post-item">

  <h3 class="p-name post-item-heading">
    <a href={`${post.url ?? '' }`}>
      {post.frontmatter.title}
    </a>
  </h3>
  <span class="updated">
    Updated:
    <time class="dt-published">{new Date(post.frontmatter.date).toLocaleDateString('en-US', {month:
      'long',
      day: 'numeric', weekday: 'long', year: 'numeric'})}</time>
  </span>
</article>