---
const { post } = Astro.props;

---

<a href={`${post.url ?? '' }`} class="post-item post-item-col">
  <span class="p-name post-item-heading">{post.frontmatter.title}</span>
  <time class="dt-published post-item-date">{new Date(post.frontmatter.date).toLocaleDateString('en-US', {month: 'long',
    day: 'numeric', weekday: 'long', year: 'numeric'})}</time>
</a>