---
import Main from '../../layouts/Main.astro';
import NoteLink from '../../components/NoteLink.astro';

const posts = await Astro.glob('./*/*.md');
const sorted = posts.sort();
---

  <Main title="Garden — Jeff Caldwell">
    <h2 class="page-heading">Garden</h2>
    {sorted.map((note) => <NoteLink {note} />)}
  </Main>