---
  import Main from './Main.astro';
const {content} = Astro.props;
---
<Main title={`${content.title} | trainingmontage`}>
  <h2>{content.title}</h2>
  <time>{new Date(content.date).toLocaleDateString('en-US', {month: 'long', weekday: 'long', day: 'numeric', year: 'numeric'})}</time>
  <slot />
</Main>